# MongoDB (Atlas ou autre)
MONGO_URI_USERS=mongodb+srv://<user>:<password>@<cluster>/users_db?retryWrites=true&w=majority
MONGO_URI_MOVIES=mongodb+srv://<user>:<password>@<cluster>/movies_db?retryWrites=true&w=majority
MONGO_URI_REVIEWS=mongodb+srv://<user>:<password>@<cluster>/reviews_db?retryWrites=true&w=majority
MONGO_URI_AUTH=mongodb+srv://<user>:<password>@<cluster>/auth_db?retryWrites=true&w=majority

# Sécurité
JWT_SECRET=change-me

# TMDB
TMDB_API_KEY=change-me

# Optionnel hors Docker
RABBITMQ_URL=amqp://localhost:5672

# Optionnel pour api-gateway
USER_SERVICE_ADDR=localhost:50051
MOVIE_SERVICE_ADDR=localhost:50052
REVIEW_SERVICE_ADDR=localhost:50053
CORS_ORIGIN=http://localhost:3001
